@font-face {
  font-family: "FiraGO Light";
  src: url("/fonts/FiraGO/FiraGO-Light.ttf");
}

@font-face {
  font-family: "FiraGO Regular";
  src: url("/fonts/FiraGO/FiraGO-Regular.ttf");
}

@font-face {
  font-family: "FiraGO Medium";
  src: url("/fonts/FiraGO/FiraGO-Medium.ttf");
}

@font-face {
  font-family: "FiraGO SemiBold";
  src: url("/fonts/FiraGO/FiraGO-SemiBold.ttf");
}

@font-face {
  font-family: "FiraGO Bold";
  src: url("/fonts/FiraGO/FiraGO-Bold.ttf");
}
