.banner {
  position: relative;
  width: 100%;
  aspect-ratio: 1.18/1;
  border-radius: 8px;
  overflow: hidden;

  &[data-size="large"] {
    grid-column: 1/3;
    aspect-ratio: 2.24/1;
  }
}

.bannerImage {
  object-fit: cover;
  transition: 300ms ease-in-out;

  &:hover {
    transform: scale(1.025);
  }
}
